<h2>Agregar Producto</h2>

<form class="add-form" (ngSubmit)="addProduct()">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" [(ngModel)]="product.name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="price">Precio</label>
        <input id="price" [(ngModel)]="product.price" name="price" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Agregar</button>
</form>

<button class="btn btn-secondary" (click)="cancel()">Volver</button>